
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Orbitron:wght@400;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bruno+Ace+SC&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Orbitron:wght@400;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

*{
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.game-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1a202c, #2d3748);
  color: white;
  padding: 1rem;
}

.game-wrapper {
  max-width: 64rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.target-container {
  margin-bottom: 2rem;
}
